<%- include('../layouts/header.ejs', {title: 'TODO-List from Param'}) %>

<%- include('../layouts/menu.ejs') %>

    <section class="section hero is-link is-fullheight-with-navbar">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title">
            TODO-List
          </h1>
          <h2 class="subtitle">
            Managing your daily tasks :)
          </h2>
    <a href="/checklists" class="button is-light is-medium">Let me see those tasks!</a>
        </div>
      </div>
    </section>

    <%- include('../layouts/footer.ejs') %>